body{
   font-family: 'Kanit', sans-serif;
}

.kanit{
   font-family: 'Kanit', sans-serif;
}

.height32{
    height: 32px;
}

.h4-5{
    font-size: 1.3rem;
}

.feet{
    position: fixed;
    bottom: 0;
    width: 100%;
}

